* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "WindSong", cursive;
}

body {
    background-image: url(image/background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: rgba(0, 18, 15, 0.625);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    position: absolute;
    width: 170px;
    height: 240px;
    top: 20%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translateX(-50%) perspective(1000px);
    animation: autoRun 10s linear infinite;
}

@keyframes autoRun {
    from {
        transform: translateX(-50%) perspective(1000px) rotateX(-15deg) rotateY(0deg);
    }
    to {
        transform: translateX(-50%) perspective(1000px) rotateX(-15deg) rotateY(360deg);
    }
}

.item {
    position: absolute;
    inset: 0;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: rgba(43, 5, 82, 0.071);
    padding: 7px;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
            translateZ(350px);
}

.center {
    position: absolute;
    inset: 0;
    width: 180px;
    height: 260px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: rgba(43, 5, 82, 0.2); 
    padding: 7px;
    animation: counterRun 10s linear infinite;
    z-index: 10;
}

@keyframes counterRun {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

.style-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.content {
    width: 100%;
    position: fixed;
    bottom: 5%;
    text-align: center;
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-shadow: 0 5px 9px rgba(119, 203, 200, 0.719);
    letter-spacing: 3px;
    word-spacing: 9px;
}

@media screen and (max-width: 1024px) {
    .slide {
        width: 150px;
        height: 210px;
    }
    .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
        translateZ(300px);
    }
    .center {
        width: 150px;
        height: 220px;
    }
    .content {
        font-size: 36px;
    }
}

@media screen and (max-width: 700px) {
    .slide {
        width: 100px; 
        height: 140px;
        top: 30%;
        transform: translateX(-50%) perspective(600px); 
    }

    .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
                   translateZ(150px);
        border-radius: 10px;
        padding: 4px;
        
        backface-visibility: visible;
    }

    .item img {
        transition: transform 0.5s;
        filter: drop-shadow(0 0 5px rgba(255,255,255,0.2));
    }

    .center {
        width: 105px;
        height: 150px;
        border-radius: 10px;
        padding: 4px;
        filter: brightness(1.1);
    }

    .content {
        font-size: 20px;
        letter-spacing: 1px;
        word-spacing: 2px;
        bottom: 8%;
    }
}

@media screen and (max-height: 500px) {
    .slide {
        top: 10%;
        transform: translateX(-50%) perspective(600px); 
    }
    .center {
        width: 85px;
        height: 120px;
        border-radius: 10px;
        padding: 4px;
        filter: brightness(1.1);
    }
    .content {
        font-size: 20px;
        bottom: 2%;
    }
}
